body{
    background-color: #333;
}
.box{
    background: white;
    width: 100px;
    height: 100px;
    position: relative;
    /* animation: animate2;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation: animate2 5s infinite;
}
@keyframes animate2{
    0%{
        top: 0;
        left: 0;
        transform: rotate(0deg);
        background-color: red;
    }
    25%{
        top: 0;
        left: 300px;
        transform: rotate(45deg);
        background-color: yellow;
    }
    50%{
        top: 300px;
        left: 300px;
        transform: rotate(90deg);
        background-color: greenyellow;
    }
    75%{
        top: 300px;
        left: 0px;
        transform: rotate(270deg);
        background-color: orange;
    }
    100%{
        top: 0px;
        left: 0px;
        transform: rotate(0deg);
        background-color: red;
    }

}