/* .is-required::after{
    content: "*";
    color: red;
    padding-left: 2px;
} */
body{
    background: url('https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_960_720.jpg')no-repeat center center/cover;
    color: #fff;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
header>h1{
    font-size: 4rem;
    margin: 1rem;
    text-shadow: 3px 3px 10px black;
}
header::before{
    content: "";
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}