.grid-container{
    display: grid;
    /* grid-template-rows: repeat(5,100px); */
    /* grid-template-columns: repeat(4,auto); */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(5,1fr);
    /* grid-template-columns: 1fr 2fr 2fr; */
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.item{
    padding: 3rem;
    border: 1px solid #ccc;
    background: orange;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

