*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: #7fffd4;
    flex-direction: row;
    height: 50vh;
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    align-items: flex-start;
}
.item{
    background-color: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}
.item-2{
    align-self: center;
}
.item-3{
    align-self: flex-end;
}

