.grid-container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,auto);
}
.item{
    padding: 3rem;
    border: 1px solid #ccc;
    background: orange;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
.item:first-child{
    background-color: chartreuse;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/3; */
    grid-row: 1/5;
}
.item:last-child{
    background-color: pink;
    /* grid-column: 2/4; */
}