*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.item{
    background-color: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* flex: 1; */
}
/* .item-2{
    flex-basis: 500px;
} */
/* .item-1{
    flex-shrink: 3;
} */
/* .item-2{
    flex-grow: 3;
} */
/* .item-1{
    flex: 2;
} */
