.grid-container{
    display: grid;
    /* 2 col */
    /* grid-template-columns: 1fr 4fr; */
    /* 3 row */
    /* grid-template-rows: 3fr 10fr 2fr; */

    grid-template: 
    'header header' 3fr
    'sidebar content' 10fr
    'footer footer' 2fr
    / 1fr 4fr;
}
.header-item{
    background-color: greenyellow;
    grid-area: header;
}
.content-item{
    background-color: orange;
    grid-area: content;
}
.footer-item{
    background-color: black;
    color: white;
    grid-area: footer;
}
.sidebar-item{
    background-color: blue;
    grid-area: sidebar;
}