
:root{
    --box:var(--spacing) solid red;
    --theme-color:orange;
    --shadow:5px 5px var(--theme-color);
    --spacing:20px;
    --font:40px;
}
.box-1{
    border:var(--box);
    background-color:var(--theme-color);
    box-shadow: var(--shadow);
    margin: var(--spacing);
    font-size: var(--spacing);
}
.box-2{
    border:var(--box);
    margin: var(--spacing);
    font-size: var(--spacing);
}
.box-3{
    border:var(--box);
    background-color:var(--theme-color);
    margin: var(--spacing);
    box-shadow: var(--shadow);
    font-size: var(--spacing);
}