body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background: white;
    width: 100px;
    height: 100px;
    /* transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 3s; */
    /* transition: background 3s , width 3s , border-radius 3s ease-in 0.5s; */
    transition: all 1s ease-in 0.5s;
}
.box:hover{
    background: red;
    /* width: 300px; */
    border-radius: 50%;
}