.grid-container{
    display: grid;
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(3,200px); */
    grid-template-rows: repeat(5,100px);
    grid-template-columns: repeat(2,auto);
}
.item{
    padding: 3rem;
    border: 1px solid #ccc;
    background: orange;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
